<div class="row">
  <div class="span2"></div>
  	<div id="form" class="span7">
  	<h3>Copy and paste a link to a look you love</h2>
  		<%= form_for(@user) do |f| %>

      <%= f.text_field :user_url, placeholder: 'www.zappos.com/frye-boots-brown' %>

      <h3>Fleur will pick something special just for you</h3>
   
      <%= f.text_field :email, placeholder: 'Enter your Email' %></br>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  		
  	</div>
  <div class="span3"><%= image_tag("white-orchid.jpg") %></div>
</div>