<div class="row">
  <div class="span3"><%= image_tag("trunk.jpg") %></div>
  	<div id="form" class="span6">
  		<h2>Find beautiful clothes you never knew you needed</h2>
  		<h3>Copy and paste a link to a style you love</h2>
  		<%= form_for(@user) do |f| %>

      <%= f.text_field :user_url, placeholder: 'Example: www.zappos.com/frye-boots-brown' %>

      <h3>Fleur will pick one special item just for you</h3>
   
      <%= f.text_field :email, placeholder: 'Enter your Email' %></br>

      <%= f.submit "Send My Style", class: "btn btn-large btn-primary" %>
    <% end %>
  		
  	</div>
  <div class="span3"><%= image_tag("white-orchid.jpg") %></div>
</div>