<%= render 'users/top' %>
  	<div id="form" class="span6">
  		<h2>Fleur finds clothes you didn't know you had to own</h2>
  		<h3>Copy and paste a link to a style you love</h3>
  			<%= form_for(@user) do |f| %>

      		<%= f.text_field :user_url, placeholder: 'Example: www.zappos.com/frye-boots-brown' %>

      	<h3>Fleur will pick one special item just for you</h3>
   
      		<%= f.text_field :email, placeholder: 'Enter your Email' %></br>

      		<%= f.submit "Send My Style", class: "btn btn-large btn-primary" %>
    		<% end %>
  	</div>
 <%= render 'users/bottom' %>